
#extension-main {width:760px; height: 600px; background: white; padding: 20px;}

.my-savings {width: 350px; background: #00bed6; padding: 15px; float: left; color:#fff;}

.my-savings, .all-savings {width: 350px; background: #00bed6; padding: 15px; float: left; color:#fff;}

.all-savings {background: #9a69cb; margin-left:20px;}
.main {clear:both; padding-top:10px;}
.title {float:left}
h1, h2, h3, h4, h5, h6{text-transform: uppercase;}
header .fa {float:left; margin-right: 15px; font-size: 50px;}
header {clear:both}

.timelines {clear: both; padding-top:15px; }
.timelines .left {float:left}
.timelines .right {float:right}

.score {clear:both; padding-top:20px;}

.progress-bar {color:white; background-color: white;}

.user { width: 720px; background: #f8f9fa; padding: 20px;clear:both; background:#ccc;}
.user img {float: left; margin-right: 20px;width:50px;}
.user p {float: left; font-weight: 400;}


#message {width: 720px; background: #fff; 
    padding: 20px;clear:both; 
    border: solid 2px #ccc; 
    clear:both; }

#charity {display:none;}

.chairty-info {width: 170px; float: left; }
.product-info {width: 350px; float:left;}
.action {width: 100px; float: right; }
.info {text-transform: uppercase; font-weight: 500}
#result { font-style: italic; color: #00bed6; font-size: 16px; font-weight: 500;}
.clearfix{ clear:both;}